.moveBtn {
    background: transparent;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    color: rgb(255, 0, 0);
    display: flex;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.moveDiv {
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}