.player {
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black;
    border-style: groove;
    background: rgb(177, 177, 240);
    padding: 5px;
}